* {
    color: var(--five);
}
body {
    background-color: var(--one);
    margin: 0;
}
header {
    background-color: var(--four);
    font-size: 4vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 5vh;
    margin-bottom: 1vh;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    position: relative;
    z-index: 2;
    box-shadow: 0px 5px 10px white;
}
header:first-child a {
    margin-left: 1vw;
}
#menu-toggle {
    margin-right: 1vw;
}
.content {
    background-color: var(--one);
    height: 100vh;
}
.subMob {
    display: block;
    text-align: center;
}
.subDesk {
    display: block;
    text-align: center;
}
:root {
    --one: #C4F1BE;
    --two: #A2C3A4;
    --three: #869D96;
    --four: #525B76;
    --five: #201E50;
}
.sub-drop {
    position: relative;
    z-index: 1;
    opacity: .8;
    margin-top: 0vh;
    background-color: var(--four);
}
.link-style {
    text-decoration: none;
}
.sub-menu {
    background-color: var(--three);
    text-align: center;
    margin-top: -1vh;
}
.hov {
    background-color: var(--two);
    box-shadow: 0px 0px 70px white;
    border-radius: 5px;
}
.hov:hover {
    background-color: var(--three);
    box-shadow: 0px 0px 10px white;
}
.txt {
    font-size: 1.5em;
}
.txt-head {
    color: var(--five);
}
#profile {
    width: 45vw;
    border: 20px solid var(--four);
    border-radius: 45vw;
    background-color: var(--four);
    margin-top: 4vh;
    box-shadow: 0px 20px 20px white;
}
.land {
    text-align: center;
}
#title {
    color: var(--five);
    font-weight: bold;
    text-shadow: 1px 3px 5px var(--one);
}
#res {
    width: 100%;
    margin-top: 3%;
    box-shadow: 0px 30px 30px var(--four);
}
.res-page-height {
    height: 100vh;
}
h1 {
    text-align: center;
    color: var(--five);
}
#proj-side-bar {
    background-color: var(--two);
    display: flex;
    flex-direction: column;
    margin-top: -1vh;
}
#proj-side-bar a {
    margin-top: .5vh;
    margin-bottom: .5vh;
    text-align: center;
}
#home-contents {
    margin: 5vh;
}
.link-btn-desk {
    cursor: pointer;
}
#menu-toggle {
    cursor: pointer;
}
@media screen and (min-width: 991px) {
    #profile {
        width: 40vw;
        border-radius: 40vw;
    }
    .txt {
        font-size: 2.5vh;
    }
    * {
        font-weight: normal;
    }
    #res {
        width: 70%;
        margin-top: 7%;
    }
    #res-container {
        text-align: center;
    }
    .res-page-height {
        height: 160vh;
    }
    .proj-page {
        display: flex;
    }
    #proj-side-bar {
        width: 5vw;
        justify-content: space-between;
        align-items: center;
    }
    #proj-side-bar a {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .nav-menu-items {
        font-size: 2vh;
        margin-top: 1.5vh;
    }
}
.hidden {
    display: none !important;
}