* {
    color: white;
    font-family: 'Luxurious Roman', cursive;
    font-weight: bold;
}
body {
    background-color: var(--four);
    margin: 0;
}
header {
    background-color: var(--four);
    font-size: 4vh;
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 6vh;
    margin-top: .5vh;
    margin-bottom: .55vh;
}
header:first-child {
    margin-left: 1vh;
}
#menu-toggle {
    margin-right: 1vh;
}
.hidden {
    display: none !important;
}
.content {
    -webkit-background-image: linear-gradient(var(--three), var(--two), var(--one));
    -moz-background-image: linear-gradient(var(--three), var(--two), var(--one));
    background-image: linear-gradient(var(--three), var(--two), var(--one));
    height: 100vh;
}
#links-menu {
    position: relative;
}
#mini-menu {
    margin-right: 0px;
}
.subMob {
    display: block;
}
.subDesk {
    display: block;
}
:root {
    --one: #C4F1BE;
    --two: #A2C3A4;
    --three: #869D96;
    --four: #525B76;
    --five: #201E50;
}
.sub-drop {
    position: relative;
    z-index: 1;
    opacity: .8;
    margin-top: 0vh;
    background-color: var(--four);
}
.link-style {
    text-decoration: none;
}
.sub-menu {
    background-color: var(--dark-gray);
}
.hov {
    -webkit-background-image: linear-gradient(var(--light-gray), var(--dark-gray));
    -moz-background-image: linear-gradient(var(--light-gray), var(--dark-gray));
    background-image: linear-gradient(var(--two), var(--four));
    border-radius: .5vh;
    opacity: .9;
}
.txt {
    color: var(--five);
    font-size: 1.5em;
}

/* ^^styling for each page^^ */
#profile {
    width: 45vw;
    border: 20px solid var(--four);
    border-radius: 45vw;
    background-color: var(--four);
    margin-top: 5vh;
}
.land {
    text-align: center;
}
#title {
    color: var(--five);
    font-weight: bold;
}
#res {
    width: 100%;
    margin-top: 3%;
}
.res-page-height {
    height: 100vh;
}
h1 {
    text-align: center;
    color: var(--five);
}
@media screen and (min-width: 991px) {
    #profile {
        width: 40vw;
        border-radius: 40vw;
    }
    .txt {
        color: var(--five);
        font-size: 2.5vh;
    }
    * {
        font-weight: normal;
    }
    #res {
        width: 70%;
        margin-top: 7%;
    }
    #res-container {
        text-align: center;
    }
    .res-page-height {
        height: 160vh;
    }
}